/* menyembunyikan tombol aksi */
.action {
	display: none;
}

.print h3 {
	color: solid black !important;
}
.clickable {
    cursor: pointer;
}

/* memberikan border pada tabel */
.tabel { color: black !important; border-top: 1px solid #000; border-right: 1px solid black; border-bottom: 1px solid black; }
.tabel th, .tabel td { font-size: 1.2em !important; border-color: #000 !important; border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black; padding: 0.6em 0.5em !important; } 
.cetak td { font-size: 1.2em !important; color: black !important; }
.tabel>tbody>tr>td,.tabel>tbody>tr>th,.tabel>tfoot>tr>td,.tabel>tfoot>tr>th,.tabel>thead>tr>td { padding:12px 8px !important; }